<ion-header class="ion-no-border" style="--background: transparent">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form>
    <h2>Introduzca un email para solicitar una nueva contraseña</h2>
    <ion-item mode="ios">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" (click)="resetPassword(email)" shape="round">Solicitar cambio de contraseña</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
